<div class="container-fluid">
    <div class="row">
        <div class="sm-padding no-padding col-lg-12">
            <div class="row" style="padding-left: 12px !important;">
                <div class="sm-padding xsm-pm-border lg-card-height pm-lt-bk no-top-padding no-bottom-padding"
                    style="width: 99.5%;">
                    <div class="row xsm-padding">
                        <div class="col-lg-2">
                            <p-card class="custom-card">
                                <ng-template pTemplate="subtitle">
                                    <p style="font-weight: bold;">Advisory</p>
                                </ng-template>
                                <div class="row sm-margin">
                                    <div class="col-lg-6">
                                        <p-card class="custom-serv-card" (click)="openService(serviceModal,'ADV_FILE')">
                                            <ng-template pTemplate="subtitle">
                                                <p style="font-weight: bold;">File</p>
                                            </ng-template>
                                            <div class="row sm-margin">
                                                <div class="col-lg-12">
                                                    <i class="pi pi-file-o" style="font-size: 1.5rem"></i>
                                                </div>
                                            </div>
                                        </p-card>
                                    </div>
                                    <div class="col-lg-6">
                                        <p-card class="custom-serv-card" (click)="openService(serviceModal,'ADV_REQ')">
                                            <ng-template pTemplate="subtitle">
                                                <p style="font-weight: bold;">Request</p>
                                            </ng-template>
                                            <div class="row sm-margin">
                                                <div class="col-lg-12">
                                                    <i class="pi pi-book" style="font-size: 1.5rem"></i>
                                                </div>
                                            </div>
                                        </p-card>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                        <div class="col-lg-2">
                            <p-card class="custom-card">
                                <ng-template pTemplate="subtitle">
                                    <p style="font-weight: bold;">MLA</p>
                                </ng-template>
                                <div class="row sm-margin">
                                    <div class="col-lg-6">
                                        <p-card class="custom-serv-card" (click)="openService(serviceModal,'MLA_FILE')">
                                            <ng-template pTemplate="subtitle">
                                                <p style="font-weight: bold;">File</p>
                                            </ng-template>
                                            <div class="row sm-margin">
                                                <div class="col-lg-12">
                                                    <i class="pi pi-file-o" style="font-size: 1.5rem"></i>
                                                </div>
                                            </div>
                                        </p-card>
                                    </div>
                                    <div class="col-lg-6">
                                        <p-card class="custom-serv-card" (click)="openService(serviceModal,'MLA_REQ')">
                                            <ng-template pTemplate="subtitle">
                                                <p style="font-weight: bold;">Request</p>
                                            </ng-template>
                                            <div class="row sm-margin">
                                                <div class="col-lg-12">
                                                    <i class="pi pi-book" style="font-size: 1.5rem;"></i>
                                                </div>
                                            </div>
                                        </p-card>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                        <div class="col-lg-7"></div>
                        <div class="col-lg-1">
                            <p-card class="custom-mig-card" (click)="openService(serviceModal,'MIGRATION_PORTAL')">
                                <ng-template pTemplate="subtitle">
                                    <p style="font-weight: bold;">Migration</p>
                                </ng-template>
                                <div class="row sm-margin">
                                    <div class="col-lg-12">
                                        <i class="pi pi-check-square" style="font-size: 2.5rem; padding-top: 15px"></i>
                                    </div>
                                </div>
                            </p-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 12px !important; height: 735px !important;">
                <div class="xsm-padding xsm-pm-border lg-card-height pm-lt-bk" style="width: 99.5%;">
                    <p-progressSpinner class="dashboard-spinner" *ngIf="showSpinner" strokeWidth="7"></p-progressSpinner>
                    <p-tabView class="dashboard-tab">
                        <p-tabPanel header="Files">
                            <p-table *ngIf="!showSpinner" class="custom-dashboard-table" #fileTasksDT [value]="fileTasks" 
                            [columns]="fileTaskCols" [filterDelay]="5" [scrollable]="true" scrollHeight="630px" 
                            scrollDirection="both" (onRowSelect)="onFileTaskSelected($event)"
                            (onRowUnselect)="onFileTaskUnselected($event)" sortField="DELIVERY_DATE" [sortOrder]="-1"
                            [globalFilterFields]="['FILE_REF_NO','TASK_TITLE','FILE_TITLE','TASK_STATUS','TASK_FROM','FILE_TYPE']">
                                <ng-template pTemplate="caption">
                                    <div class="table-header" style="text-align: left;">
                                        <span style="width: 30%;" class="p-input-icon-right">
                                            <input #myFileTasksSearch style="width: 100%; height: 30px; font-size: 12px !important;"
                                                class="xsm-pm-border sm-font" pInputText type="text"
                                                (input)="fileTasksDT.filterGlobal(myFileTasksSearch.value, 'contains')" placeholder="Search" />
                                        </span>
                                        <span style="width: 30%; padding-left: 40px;font-size: 14px !important; font-weight: bold !important;">
                                            Total Records: {{fileTasks.length}}
                                        </span>
                                        <span [ngStyle]="{'width': '60%'}"
                                            style="padding-bottom: 10px !important; cursor: pointer;" class="p-input-icon-right">
                                            <i class="fa fa-refresh" style="right: 3rem;" tooltipStyleClass="custom-tooltip" pTooltip="Click to refresh"
                                                (click)="refreshFileTasks()" tooltipPosition="left"></i>
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr style="width:{{totalTableHeaderWidth}}px">
                                        <th style="width: 25px !important;">
                                            <p><i class="fa fa-exclamation"></i></p>
                                        </th>
                                        <th style="width: 25px !important;">
                                        </th>
                                        <th style="width: 25px !important;">
                                        </th>
                                        <th style="width:{{col.spanWidthPx}}px" *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.label}}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                    <tr class="pointer" [ngStyle]="{'color': rowData['SLA_BREACH']=='Y' ? '#f00a0a' : null }" style="width:{{totalTableHeaderWidth}}px">
                                        <td class="alarm-notf" style="width: 25px !important;">
                                            <p style="width: 25px !important; font-size: 14px; font-weight: bolder; padding-top: 15px !important;">
                                                {{rowData['URGENCYMARK']}}
                                            </p>
                                        </td>
                                        <td style="width: 25px !important; padding-top: 15px !important; color: #000 !important;">
                                            <p><i *ngIf="rowData['LOCKED'] == 'Y'" class="fa fa-lock"></i></p>
                                        </td>
                                        <td style="width: 25px !important; padding-top: 15px !important; color: #000 !important;">
                                            <p><i class="{{rowData.icon}}"></i></p>
                                        </td>
                                        <ng-template ngFor let-col [ngForOf]="columns">
                                            <td (click)="onFileTaskSelect(rowData)" style="width:{{col.spanWidthPx}}px" tooltipStyleClass="custom-tooltip"
                                                tooltipPosition="top"
                                                pTooltip="{{ col.type == 'datetime' ? (rowData[col.field] | date:'dd/MM/yyyy h:mm:ss') : col.type == 'date' ? (rowData[col.field] | date:'dd/MM/yyyy') : rowData[col.field] }}">
                                                {{ col.type == 'datetime' ? (rowData[col.field] | date:'dd/MM/yyyy h:mm:ss') : col.type == 'date' ?
                                                (rowData[col.field] | date:'dd/MM/yyyy') :
                                                rowData[col.field] }}
                                            </td>
                                        </ng-template>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="11" class="custom-info-text" style="text-align: center !important; font-size: 14px !important;">No files available!!</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="Requests">
                            <p-table *ngIf="!showSpinner" class="custom-dashboard-table" #reqTasksDT [value]="requestTasks" 
                            [columns]="requestTaskCols" [filterDelay]="5" [scrollable]="true" scrollHeight="630px" 
                            scrollDirection="both" (onRowSelect)="onRequestTaskSelected($event)"
                            (onRowUnselect)="onRequestTaskUnselected($event)" sortField="DELIVERY_DATE" [sortOrder]="-1"
                            [globalFilterFields]="['FILE_REF_NO','TASK_TITLE','FILE_TITLE','TASK_STATUS','TASK_FROM','FILE_TYPE']">
                                <ng-template pTemplate="caption">
                                    <div class="table-header" style="text-align: left;">
                                        <span style="width: 30%;" class="p-input-icon-right">
                                            <input #myReqTasksSearch style="width: 100%; height: 30px; font-size: 12px !important;"
                                                class="xsm-pm-border sm-font" pInputText type="text"
                                                (input)="reqTasksDT.filterGlobal(myReqTasksSearch.value, 'contains')" placeholder="Search" />
                                        </span>
                                        <span style="width: 30%; padding-left: 40px;font-size: 14px !important; font-weight: bold !important;">
                                            Total Records: {{requestTasks.length}}
                                        </span>
                                        <span [ngStyle]="{'width': '60%'}"
                                            style="padding-bottom: 10px !important; cursor: pointer;" class="p-input-icon-right">
                                            <i class="fa fa-refresh" style="right: 3rem;" tooltipStyleClass="custom-tooltip" pTooltip="Click to refresh"
                                                (click)="refreshRequestTasks()" tooltipPosition="left"></i>
                                        </span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr style="width:{{totalTableHeaderWidth}}px">
                                        <th style="width: 25px !important;">
                                            <p><i class="fa fa-exclamation"></i></p>
                                        </th>
                                        <th style="width: 25px !important;">
                                        </th>
                                        <th style="width: 25px !important;">
                                        </th>
                                        <th style="width:{{col.spanWidthPx}}px" *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.label}}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-columns="columns" let-i="rowIndex">
                                    <tr class="pointer" [ngStyle]="{'color': rowData['SLA_BREACH']=='Y' ? '#f00a0a' : null }" style="width:{{totalTableHeaderWidth}}px">
                                        <td class="alarm-notf" style="width: 25px !important;">
                                            <p style="width: 25px !important; font-size: 14px; font-weight: bolder; padding-top: 15px !important;">
                                                {{rowData['URGENCYMARK']}}
                                            </p>
                                        </td>
                                        <td style="width: 25px !important; padding-top: 15px !important; color: #000 !important;">
                                            <p><i *ngIf="rowData['LOCKED'] == 'Y'" class="fa fa-lock"></i></p>
                                        </td>
                                        <td style="width: 25px !important; padding-top: 15px !important; color: #000 !important;">
                                            <p><i class="{{rowData.icon}}"></i></p>
                                        </td>
                                        <ng-template ngFor let-col [ngForOf]="columns">
                                            <td (click)="onRequestTaskSelect(rowData)" style="width:{{col.spanWidthPx}}px" tooltipStyleClass="custom-tooltip"
                                                tooltipPosition="top"
                                                pTooltip="{{ col.type == 'datetime' ? (rowData[col.field] | date:'dd/MM/yyyy h:mm:ss') : col.type == 'date' ? (rowData[col.field] | date:'dd/MM/yyyy') : rowData[col.field] }}">
                                                {{ col.type == 'datetime' ? (rowData[col.field] | date:'dd/MM/yyyy h:mm:ss') : col.type == 'date' ?
                                                (rowData[col.field] | date:'dd/MM/yyyy') :
                                                rowData[col.field] }}
                                            </td>
                                        </ng-template>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="13" class="custom-info-text" style="text-align: center !important; font-size: 14px !important;">No requests available!!</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #serviceModal>
    <div class="app-card">
        <div class="modal-action-bar right-align">
            <div class="row">
                <div class="col-lg-10 modal-header">
                    <p class="custom-modal-heading">{{serviceTitle}}</p>
                </div>
                <div *ngIf="false" class="col-lg-2 modal-header">
                    <button type="button" class="btn-close close" aria-label="Close" (click)="hideModal()"></button>
                </div>
            </div>
        </div>
        <div class="custom-modl-content">
            <p-scrollPanel [style]="{width: '100%', height: '740px'}" class="custom-scroll">
                <advisory-file *ngIf="reqIdentifier=='ADV_FILE'" [modalSubmit]="isReqSubmitted"
                    (reqSubmit)="onRequestSubmit($event)"></advisory-file>
                <advisory-request *ngIf="reqIdentifier=='ADV_REQ'" [modalSubmit]="isReqSubmitted"
                    (reqSubmit)="onRequestSubmit($event)"></advisory-request>
                <mla-file *ngIf="reqIdentifier=='MLA_FILE'" [modalSubmit]="isReqSubmitted"
                    (reqSubmit)="onRequestSubmit($event)"></mla-file>
                <mla-request *ngIf="reqIdentifier=='MLA_REQ'" [modalSubmit]="isReqSubmitted"
                    (reqSubmit)="onRequestSubmit($event)"></mla-request>
            </p-scrollPanel>
        </div>
        <div class="modal-footer">
            <p-button *ngIf="reqIdentifier!='RECALL_REASSIGN' && reqIdentifier!='REOPEN_REQ' && reqIdentifier!='MFC'" label="Create & View" tooltipStyleClass="custom-tooltip" pTooltip="Click to create and open"
                styleClass="p-button-sm" class="custom-tertiary-btn" (click)="createServiceRequest()"></p-button>
            <p-button label="Cancel" tooltipStyleClass="custom-tooltip" pTooltip="Click to cancel request"
                styleClass="p-button-sm" class="custom-tertiary-btn" (click)="hideRequestModal()"></p-button>
        </div>
    </div>
</ng-template>