<div class="container-fluid">
    <form #docDetails="ngForm">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12 sm-padding no-padding">
                        <div *ngIf="!isDuplicateExists" class="sm-padding form-field-header no-bottom-padding no-top-padding">
                            Click save and close to upload document with different tags
                        </div>
                        <div *ngIf="isDuplicateExists" class="sm-padding form-field-header no-bottom-padding no-top-padding">
                            Please take necessary actions on the highlighted duplicate files
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 xsm-padding">
                        <div class="sm-padding">
                            <ng-template ngFor let-file [ngForOf]="fileDetails" let-i="index">
                                <p-card id="fileCard_{{i}}" class="{{file.class}}" (click)="getFileDetails(i)">
                                    <ng-template pTemplate="title">
                                        <div class="row">
                                            <div class="col-lg-8" tooltipStyleClass="custom-tooltip" tooltipPosition="top"
                                                pTooltip="Click to update document metadata">
                                                <span style="width: 100%;" class="p-input-icon-right">
                                                    <i *ngIf="file.isFileNameEdit" tooltipPosition="top"
                                                        pTooltip="Click to confirm file name" (click)="renameDocument(i)"
                                                        class="pi pi-check"></i>
                                                    <input id="fileName_{{i}}" class="custom-input-{{file.class}}" type="text" pInputText
                                                        [disabled]="!file.isFileNameEdit" value="{{file.name}}" pInputText
                                                        tooltipStyleClass="custom-tooltip" style="cursor: pointer !important; font-size: 13px !important;"
                                                        pTooltip="Click to enter new file name" />
                                                </span>
                                            </div>
                                            <div class="col-lg-1">
                                                <i tooltipStyleClass="custom-tooltip" tooltipPosition="top"
                                                    pTooltip="Click to edit the file name" *ngIf="file.class == 'version-file-card'"
                                                    class="fa fa-edit" style="width: 10% !important;" (click)="enableRenameDocument(i)"></i>
                                            </div>
                                            <div class="col-lg-1">
                                                <i tooltipStyleClass="custom-tooltip" tooltipPosition="top"
                                                    pTooltip="Click to create a new version" *ngIf="file.class == 'version-file-card'"
                                                    class="fa fa-history" style="width: 10% !important;" (click)="versionDocument(i)"></i>
                                            </div>
                                            <div class="col-lg-1">
                                                <i tooltipStyleClass="custom-tooltip" tooltipPosition="top" pTooltip="Click to delete"
                                                    class="fa fa-times" style="width: 10% !important;" (click)="deleteDocument(i)"></i>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-card>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="row sm-padding">
                    <div class="col-lg-12 no-top-padding" *ngIf="fileDetails.length > 1">
                        <div class="row no-top-padding" style="height: 45px; padding-top: 10px;">
                            <div class="col-lg-1" style="margin-right: 15px;">
                                <p-inputSwitch class='custom-switch' [disabled]="isDuplicateExists" [(ngModel)]="copyToAll" name="copySwitch" #copySwitch="ngModel"
                                    (ngModelChange)="copyFileDetails($event)"></p-inputSwitch>
                            </div>
                            <div class="col-lg-10" style="padding-top: 3px; padding-left: 15px;">
                                <div class="sm-padding no-padding form-field-header">
                                    Same metadata applicable for all documents
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="documentDetails" class="col-lg-6">
                <div class="row xsm-padding">
                    <div class="col-lg-12 xsm-padding no-padding">
                        <div class="xsm-padding form-field-header form-divider no-top-padding" style="overflow-wrap: break-word;max-width: 35.5rem;">
                            {{documentDetails.fileName}} - Metadata
                        </div>
                    </div>
                </div>
                <div class="row sm-padding no-bottom-padding" *ngIf="showOutgoing">
                    <div class="col-lg-12 sm-padding no-padding">
                        <div class="row no-top-padding">
                            <div class="col-lg-1">
                                <div class="p-field-radiobutton">
                                    <p-checkbox [disabled]="isDuplicateExists" class="custom-checkbox" name="ogng" #ogng="ngModel"
                                        [(ngModel)]="documentDetails.isOutgoing" [binary]="true" 
                                        (onChange)="onCheckboxChange($event,'isOutgoing')"></p-checkbox>
                                </div>
                            </div>
                            <div class="col-lg-10" style="padding-top: 3px;">
                                <div class="sm-padding no-padding form-field-header">
                                    Outgoing
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 sm-padding no-padding">
                        <div class="col-lg-12 sm-padding no-padding" [ngClass]="{'required':!isDuplicateExists, 'read-only':isDuplicateExists}">
                            <div class="sm-padding form-field-header no-bottom-padding">
                                Security Classification
                            </div>
                        </div>
                        <div class="col-lg-12 xsm-padding">
                            <div class="xsm-padding">
                                <p-dropdown [filter]="true" filterBy="label" [disabled]="isDuplicateExists" appendTo="body" [options]="secClassification" class="custom-dropdown"
                                    placeholder="Choose security classification" [(ngModel)]="documentDetails.securityClassification" name="secClssfctn" #secClssfctn="ngModel"
                                    tooltipStyleClass="custom-tooltip" pTooltip="Click to choose security classification" [required]="true"
                                    [ngClass]="{ 'p-dropdown-is-invalid':formSubmitted && secClssfctn.invalid }" 
                                    (onChange)="onMndtFieldChange($event,'securityClassification')">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 sm-padding no-padding">
                        <div class="col-lg-12 sm-padding no-padding" [ngClass]="{'required':!isDuplicateExists, 'read-only':isDuplicateExists}">
                            <div class="sm-padding form-field-header no-bottom-padding no-top-padding">
                                Document Type
                            </div>
                        </div>
                        <div class="col-lg-12 xsm-padding">
                            <div class="xsm-padding">
                                <p-dropdown [filter]="true" filterBy="label" [disabled]="isDuplicateExists" appendTo="body" [options]="documentType" class="custom-dropdown"
                                    placeholder="Choose document type" [(ngModel)]="documentDetails.docType" name="dType"
                                    #dType="ngModel" tooltipStyleClass="custom-tooltip"
                                    pTooltip="Click to choose document type" [required]="true"
                                    [ngClass]="{ 'p-dropdown-is-invalid':formSubmitted && dType.invalid }"
                                    (onChange)="onMndtFieldChange($event,'docType')">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 sm-padding no-padding">
                        <div class="col-lg-12 sm-padding no-padding">
                            <div class="sm-padding form-field-header no-bottom-padding no-top-padding">
                                Document Date
                            </div>
                        </div>
                        <div class="col-lg-12 xsm-padding">
                            <div class="xsm-padding">
                                <p-calendar appendTo="body" [(ngModel)]="documentDetails.docDate" [showIcon]="true" inputId="icon"
                                    [maxDate]="todaysDate" dateFormat="dd/mm/yy" name="dDate" #dDate="ngModel" 
                                    tooltipStyleClass="custom-tooltip" [disabled]="isDuplicateExists"
                                    pTooltip="Click to enter document date" [showTime]="true" [showSeconds]="false" 
                                    class="customized-calendar"
                                    (ngModelChange)="onDateFieldChange($event,'docDate')">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 sm-padding no-padding">
                        <div class="col-lg-12 sm-padding no-padding">
                            <div class="sm-padding form-field-header no-bottom-padding no-top-padding">
                                Description
                            </div>
                        </div>
                        <div class="col-lg-12 xsm-padding">
                            <div class="xsm-padding">
                                <textarea style="height: 60px !important;" [(ngModel)]="documentDetails.docDescription" [rows]="5" [cols]="30"
                                    pInputTextarea name="docDesc" #docDesc="ngModel" tooltipStyleClass="custom-tooltip" 
                                    pTooltip="Click to enter document description" [disabled]="isDuplicateExists"
                                    class="custom-textarea" (ngModelChange)="onNonMndtFieldChange($event,'docDescription')"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 sm-padding no-padding">
                        <div class="col-lg-12 sm-padding no-padding">
                            <div class="sm-padding form-field-header no-bottom-padding no-top-padding">
                                Remarks
                            </div>
                        </div>
                        <div class="col-lg-12 xsm-padding">
                            <div class="xsm-padding">
                                <textarea style="height: 60px !important;" [(ngModel)]="documentDetails.docRemarks" [rows]="5"
                                    [cols]="30" pInputTextarea name="docRem" #docRem="ngModel" tooltipStyleClass="custom-tooltip"
                                    pTooltip="Click to enter document remarks" [disabled]="isDuplicateExists" 
                                    class="custom-textarea" (ngModelChange)="onNonMndtFieldChange($event,'docRemarks')"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<p-toast position="top-right" closable="true"></p-toast>