$primary-color: rgb(9, 14, 44);
$secondary-color: rgb(18, 44, 105);
$tertiary-color: rgb(18, 44, 105);
$warn-color: #3D0FF6;
$error-color: #dc3545;
$success-color: #28a745;
$info-color: #fd7e14;
$white-color: #FFF;
$black-color: #000;
$primary-gradient: linear-gradient(61deg, rgb(9, 14, 44) 0%, rgb(18, 44, 105) 59%, rgb(7, 141, 179) 100%);
$base-pixel-size: 12;
$grey-color: #f2f2f2;
$disabled-field: #d2d2d2;
$version-highlight: #f0da7a;
$doc-version-change-color: #87cc74;
$doc-name-change-color: #5ca7f2;
$notf-unread-color: #f2f2f2;
$icon-color: rgb(7, 141, 179);
$spinner-color: #2e3d98;
$font-family: 'Calibri';
$highlight-color: #2e3d98;
